label{
    color: red;
}

.form{

    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 600 px;
    border: 1px solid black;
}

input{
     display: block;
    height: 30px;
}

button{
    margin-top: 10px;
    margin-bottom:10px;
    border-radius: 10px;

}